<body>

	<h1>Akinator</h1>
		<p>Pense à un personnage réel ou fictif, je vais lire dans tes pensées </p>

	
	<div class="col-md-6">
			<img src="https://fr.akinator.com/bundles/elokencesite/images/akitudes_670x1096/defi.png?v95" alt="", class="avatar">
	</div>

</div>

<div class="téléchargement">

</div>


<div class="image"> 
	<a href="https://itunes.apple.com/fr/app/akinator/id933135994?l=en"/><img src="https://qualitedelair.brussels/sites/default/files/app-store-logo.png" height="70" width="190"></a>
	<a href="https://play.google.com/store/apps/details?id=com.digidust.elokence.akinator.freemium&hl=en_US"><img src="https://easypharm.be/site/wp-content/uploads/2016/04/fr-play-badge-1.png" height="70" width="190"> </a><br>
	
</div>


<div class="buttons">
	<%= link_to( "Règles du jeu", pages_blog_path, method: :get, class: "buttons, btn btn-dark" )  %>

	<%= link_to( "Défie Moi ! ", games_path, method: :post, class: "buttons, btn btn-warning" )  %>
</div>


<div class="reseaux"> 
	<a href="https://www.facebook.com/Akinator/"/><img src="https://image.flaticon.com/icons/png/512/33/33702.png" height="40" width="40"></a>
	<a href="https://www.instagram.com/explore/tags/akinator/?hl=fr"><img src="http://pngimg.com/uploads/instagram/instagram_PNG8.png" height="40" width="40"></a> <br>
</div>

</div>


<footer>

<p>© 2019 Coding Skills - Audrey RICHARD, Mathilde ROS, Nicolas CHESNAY</p>

</footer>
</body>
