<body>
	
<div class="boutons">
	<%= link_to( "Rejouer", game_path(1), method: :patch, class: "btn btn-dark" )  %>
</div>

<div class="Fb"> 
	<a href="https://www.facebook.com/Akinator/"/><img src="https://image.flaticon.com/icons/png/512/33/33702.png" height="40" width="40"></a>
	<a href="https://www.instagram.com/explore/tags/akinator/?hl=fr"><img src="http://pngimg.com/uploads/instagram/instagram_PNG8.png" height="40" width="40"> </a><br>
</div>

<div class="texte"> 
		<h2>Je pense avoir trouvé ! </h2>
		<p>Est-ce la bonne réponse ? </p>
	</div>


<div class="col-md-9">
		<img src="https://fr.akinator.com/bundles/elokencesite/images/akitudes_670x1096/defi.png?v95" alt="", class="akt">
</div>


<div class="réponse">
	<img src="http://www.icone-png.com/png/53/52945.png">
</div>


<div class="answ"> 
		<button type="button" class="btn btn-success">Oui</button>
		<button type="button" class="btn btn-danger">Non</button>
	</div>



<footer>

<p>© 2019 Coding Skills - Audrey RICHARD, Mathilde ROS, Nicolas CHESNAY</p>

</footer>

</body>